body {
  font-family: "open sans", sans-serif;
}
.header {
  background-color: bisque;
}
.header-link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: #ffffff;
}
